
.container { 
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
   color:darkorange
  }
.nav-links {
display: flex;
list-style: none;
padding-left: 0;
}
.nav-link-item {
padding-right: 2rem;

}
.nav-link-text {
color: black;
text-decoration: none;
transition: all 0.4s

}
.nav-link-text:hover{
  color: pink
  
}
.site-title {
    font-size: 3rem;
    
    color: #ffffff;
    font-weight: 700;
    margin: 3rem 0;
  }

#horizontalunderLine {
  position: absolute;
  width: 0;
  background-color: pink;
  top: 0;
  left: 0;
  height: 10px;
  border-radius: 3px;
  transition: 0.5s;

}

.cele{

  width: 100%;
  height: 100%;
  background-color: orangered;
}


